.cart-items{
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: scroll;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.actions{
    margin-left: 2rem
}
.actions button{
    cursor: pointer;
    border: 1px solid #b6b6b6;
    padding: .3rem 0.7rem;
    border-radius: 5px;
    margin-right: .5rem;
}

.listInner{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}